{% extends 'backend/base.html' %}
{% load i18n %}
{% load static %}

<!-- head block -->
{% block head %}
<link rel="stylesheet" href="{% static 'css/image.css' %}">
{% endblock head %}

<!-- body block -->
{% block body %}

<div>
    <h4>
        Prediction for the following image: {{pred}}
    </h4>
    <div>
        {{image.image_file.url}}
    </div>
    <div>
        <img src="{{image.image_file.url}}" />
    </div>
</div>

{% endblock body %}

<!-- scripts block -->
{% block scripts %}

{% endblock scripts %}